body {
  background-image: url("photo/circles_aboutproject.png");
  background-size: 100%;
  background-color: #222033;
  font-family: "Montserrat";
  color: #ffffff;
  padding-bottom: 100px;
}

.header {
  padding: 10px 0 10px;
}

.header .container {
  display: flex;
  align-items: center;
  width: 1240px;
  margin-left: 100px;
}

.logo img {
  width: 62px;
}

.menu {
  margin-left: 300px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.menu ul a {
  font-size: 20px;
  color: #d7d3e3;
  font-weight: Medium;
  cursor: pointer;
  text-decoration: none;
}

.menu ul a:hover {
  color: white;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 0.5px;
}

.header-line {
  border: none;
  height: 2px;
  background-color: #d7d3e3;
  margin: 0 100px 0 100px;
}

.plashka {
  height: 340px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  outline: 3px solid #d7d3e3;
  border-radius: 20px;
  background-color: #444066;
}

.compass {
  vertical-align: top;
  display: inline-block;
  margin: 41px auto auto 80px;
  width: 275px;
}

.plashka h2 {
  vertical-align: top;
  width: 461px;
  height: 97px;
  display: inline-block;
  margin: 41px auto 0px 84px;
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 84px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1.75px;
}

.wave {
  width: 460px;
  vertical-align: top;
  margin-left: 443px;
  margin-top: -161px;
}

.plashka h1 {
  vertical-align: top;
  width: 513px;
  height: 162px;
  display: inline-block;
  margin: -20px auto 0px 557px;
  font-family: "Play", sans-serif;
  font-weight: normal;
  font-size: 140px;
  color: #ffffff;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 3px;
}

.text1 h6 {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 100px 0px 100px;
}

.text1 p {
  height: 96px;
  font-size: 20px;
  margin: 20px 100px 0px 100px;
}

.text2 {
  width: 715px;
  height: 200px;
  font-size: 16px;
  margin: 105px auto auto 100px;
}

.mascot img {
  display: inline-block;
  margin: -240px 100px 0px 983px;
}

.mascot h6 {
  display: inline-block;
  margin: 5px 228px 0px 1150px;
  font-size: 20px;
  width: 175px;
}

.text3 {
  width: 716px;
  height: 460px;
  font-size: 16px;
  margin: -416px 100px auto auto;
}

.logoph img {
  width: 284px;
  height: 374px;
  margin: 50px auto 0px 210px;
}

.logoph h6 {
  margin: 6px auto 0px 300px;
  font-size: 20px;
}

.text4 {
  width: 661px;
  height: 220px;
  margin: 164px auto 0px 100px;
}

.mascotpattern img {
  margin: -365px auto 0px 883px;
  width: 646px;
}

.star_big1 {
  margin: 104px auto 0px 100px;
  width: 50px;
  display: inline-block;
}

.membershead h4 {
  vertical-align: top;
  width: 288px;
  height: 56px;
  display: inline-block;
  margin: 108px auto 0px 30px;
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
}

.stars {
  vertical-align: top;
  margin: 116px auto 0px 54px;
  width: 380px;
  height: 30px;
  display: inline-block;
}

.wave2 {
  margin-left: 182px;
}

.main-members {
  display: flex;
}

.main-member1 {
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 60px 0px 0px 100px;
}

.main-member1 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.main-member1 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #988bcd;
  border-radius: 15px;
  margin-top: 20px;
}

.main-member2 {
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 60px 0px 0px 20px;
}

.main-member2 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.main-member2 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #988bcd;
  border-radius: 15px;
  margin-top: 20px;
}

.main-member3 {
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 60px 0px 0px 20px;
}

.main-member3 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.main-member3 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #988bcd;
  border-radius: 15px;
  margin-top: 20px;
}

.star_little1 {
  margin: 440px 0px 0px 10px;
  height: 37px;
}

.design-members {
  display: inline-block;
  width: 1240px;
  font-size: 0;
}

.design-member1 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 24px 0px 0px 100px;
}

.design-member1 h4 {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  margin: -28px 50px 0px 50px;
}

.design-member1 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member1 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member2 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 24px 0px 0px 20px;
}

.design-member2 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member2 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member3 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 24px 0px 0px 20px;
}

.design-member3 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member3 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member4 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: -396px 0px 0px 1045px;
}

.design-member4 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member4 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member5 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 100px;
}

.design-member5 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member5 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member6 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.design-member6 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member6 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member7 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.design-member7 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member7 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member8 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: -396px 0px 0px 1045px;
}

.design-member8 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member8 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.design-member9 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 100px;
}

.design-member9 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.design-member9 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #f063a7;
  border-radius: 15px;
  margin-top: 20px;
}

.star_big2 {
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.star_little2 {
  vertical-align: top;
  display: inline-block;
  margin-left: -15px;
  margin-top: 64px;
}

.text-members {
  display: inline-block;
  width: 1240px;
  font-size: 0;
}

.text-member1 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 100px;
}

.text-member1 h4 {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  margin: -28px 50px 0px 50px;
}
.text-member1 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member1 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member2 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.text-member2 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member2 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member3 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.text-member3 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member3 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member4 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: -396px 0px 0px 1045px;
}

.text-member4 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member4 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member5 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 100px;
}

.text-member5 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member5 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member6 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.text-member6 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member6 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member7 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.text-member7 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member7 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member8 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: -396px 0px 0px 1045px;
}

.text-member8 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member8 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member9 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 100px;
}

.text-member9 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member9 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member10 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.text-member10 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member10 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.text-member11 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.text-member11 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.text-member11 h5 {
  padding: 13px 0px 13px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #aad5a0;
  border-radius: 15px;
  margin-top: 20px;
}

.star_big3 {
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
  margin-top: 30px;
}

.frontend-members {
  display: inline-block;
  width: 1240px;
  font-size: 0;
}

.frontend-member1 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 100px;
}

.frontend-member1 h4 {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  margin: -28px 50px 0px 50px;
}
.frontend-member1 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member1 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.frontend-member2 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.frontend-member2 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member2 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.frontend-member3 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.frontend-member3 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member3 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.frontend-member4 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: -396px 0px 0px 1045px;
}

.frontend-member4 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member4 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.frontend-member5 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 100px;
}

.frontend-member5 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member5 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.frontend-member6 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.frontend-member6 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member6 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.frontend-member7 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.frontend-member7 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member7 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.frontend-member8 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: -396px 0px 0px 1045px;
}

.frontend-member8 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.frontend-member8 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #7e6fbb;
  border-radius: 15px;
  margin-top: 20px;
}

.backend-members {
  display: inline-block;
  width: 1240px;
  font-size: 0;
}

.backend-member1 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 100px;
}

.backend-member1 h4 {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  margin: -28px 50px 0px 50px;
}
.backend-member1 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.backend-member1 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #cb508b;
  border-radius: 15px;
  margin-top: 20px;
}

.backend-member2 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.backend-member2 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.backend-member2 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #cb508b;
  border-radius: 15px;
  margin-top: 20px;
}

.backend-member3 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.backend-member3 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.backend-member3 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #cb508b;
  border-radius: 15px;
  margin-top: 20px;
}

.backend-member4 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: -396px 0px 0px 1045px;
}

.backend-member4 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.backend-member4 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #cb508b;
  border-radius: 15px;
  margin-top: 20px;
}

.backend-member5 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 100px;
}

.backend-member5 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.backend-member5 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #cb508b;
  border-radius: 15px;
  margin-top: 20px;
}

.backend-member6 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.backend-member6 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.backend-member6 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #cb508b;
  border-radius: 15px;
  margin-top: 20px;
}

.backend-member7 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 20px 0px 0px 20px;
}

.backend-member7 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.backend-member7 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #cb508b;
  border-radius: 15px;
  margin-top: 20px;
}

.star_big4 {
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.star_little3 {
  vertical-align: top;
  display: inline-block;
  margin-left: -15px;
  margin-top: 64px;
}

.database-members {
  display: inline-block;
  width: 1240px;
  font-size: 0;
}

.database-member1 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 100px;
}

.database-member1 h4 {
  font-family: "Play", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
  margin: -28px 50px 0px 50px;
}
.database-member1 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.database-member1 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #76b767;
  border-radius: 15px;
  margin-top: 20px;
}

.database-member2 {
  vertical-align: top;
  display: inline-block;
  width: 295px;
  height: 396px;
  padding: 15px;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.database-member2 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.database-member2 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #76b767;
  border-radius: 15px;
  margin-top: 20px;
}

.database-member3 {
  width: 295px;
  height: 396px;
  padding: 15px;
  vertical-align: top;
  display: inline-block;
  outline: 2px solid #d7d3e3;
  border-radius: 15px;
  background-color: #282828;
  box-sizing: border-box;
  margin: 40px 0px 0px 20px;
}

.database-member3 h6 {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 18px 0 0 0;
}

.database-member3 h5 {
  padding: 13px 0px 12px 0px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  text-transform: lowercase;
  background-color: #76b767;
  border-radius: 15px;
  margin-top: 20px;
}

.star_little4 {
  vertical-align: top;
  display: inline-block;
  margin-left: 18px;
  margin-top: 436px;
}
